<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{835,805},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,127}</string>
                <key>spriteSourceSize</key>
                <string>{720,127}</string>
                <key>textureRect</key>
                <string>{{1,723},{720,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{656,60}</string>
                <key>spriteSourceSize</key>
                <string>{660,60}</string>
                <key>textureRect</key>
                <string>{{1,852},{656,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{659,852},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,305}</string>
                <key>spriteSourceSize</key>
                <string>{308,309}</string>
                <key>textureRect</key>
                <string>{{1593,409},{304,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,406}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1283,1},{406,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{833,723},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{723,723},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{714,852},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{1376,719},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1191,723},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{1000,723},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{1593,715},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,308}</string>
                <key>spriteSourceSize</key>
                <string>{308,308}</string>
                <key>textureRect</key>
                <string>{{1283,409},{308,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,8}</string>
                <key>spriteSourceSize</key>
                <string>{711,8}</string>
                <key>textureRect</key>
                <string>{{1,914},{711,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruits.png</string>
            <key>size</key>
            <string>{1899,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d591f7a4dc8d1db3982d5e3701f493e9:5993dda989a05d9bd05bf23ddbc5dad1:56755924368b5e18801fdad7263bb90b$</string>
            <key>textureFileName</key>
            <string>fruits.png</string>
        </dict>
    </dict>
</plist>
